
<div class="w-1/2">
<div class="flex justify-center">
  <h2 class="text-xl font-bold">Public recipes</h2>
</div>
  <% @public_recipes.each do |recipe| %>
  <div class="border grid gap-4 grid-cols-2 p-1 mb-4">
    <div> 
      <p class="text-lg font-bold"><%= link_to recipe.name, user_recipe_path( recipe.user.id, recipe.id  ) %> </p>
      <p class="text-lg"> By: <%= recipe.user.email %> </p>  
    </div>

    <div>
      <p>Total food items: <%=  @public_recipe.food_arr(recipe.id).count %></p>
      <p>Total price: 
        <%=  @public_recipe.total_food_price(@public_recipe.food_arr(recipe.id), recipe.id ) %>$
      </p>
    </div>  
</div>
  <% end %>
  </div>