<div class='recipe_container'>
  <div>
    <h3><%= link_to (recipe.name), user_recipe_path(recipe.user_id, recipe.id) %></h3>

    <% if @user==current_user %>
    <div><%= button_to "Remove", user_recipe_path(recipe.user_id, recipe.id),
    method: :delete %></div>
    <% end %>
  </div>
  <p><%= recipe.description%></p>
</div>