<div class='container border m-2 d-flex'>
  <div class="p-2">
    <h4><%= link_to (recipe.name), recipe_path(recipe.id) %></h4>

    <% if can? :destroy, recipe %>
            <%= link_to 'Remove', recipe_path(recipe.id), data: { turbo_method: :delete } %>
       <% end %>
  </div>
  <p><%= recipe.description%></p>
</div>