<div class="user_container">
  <div class="user">
    <h2>The Users</h2>
    <% @users.each do |user| %>
      <div class='users'>
        <%= render partial: "users/shared/user", locals: { user: user } %>
      </div>
    <% end %>
  </div>
</div>
