
@import url('https://fonts.googleapis.com/css2?family=Lato');

* {
  --color_nile_blue_dark: #03363d;
  --color_nile_blue_medium: #174d4d;
  --color_pastel_blue_clear: #f8f9f9;
  --color_pastel_blue_ligth: #d6edf2;
}

body {
  background-color: var(--color_pastel_blue_clear) !important;
  font-family: 'Lato', sans-serif !important;
}

.shop-resume,
.inventory-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
}

.inventory-item {
  border: 1px solid black;
  display: flex;
  margin: 2px;
  padding: 20px 20px;
  justify-content: space-between;
  background-color: var(--color_pastel_blue_ligth) !important;
}

.inventory-left {
  /* padding: 0 20px; */
  color: var(--color_nile_blue_medium) !important;
  width: 25%;
}

.inventory-right {
  width: 75%;
}

.description {
  padding: 0 20px !important;
}

.name {
  display: flex;
  width: auto;
}

.new_food {
  margin-left: auto;
  margin-right: 30px;
}

.modal {
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  z-index: 1;
  left: 300px;
  top: 200px;
  width: 50%;
  height: 50%;
  overflow: auto;
}

.show-modal {
  background-color: var(--color_nile_blue_medium);
}

.shopping-list-btn {
  margin-left: auto;
}

.resume-row {
  display: flex;
  justify-content: space-between;
  width: 600px;
  text-align: left;
  background-color: var(--color_pastel_blue_ligth) !important;
  padding: 5px 20px;
}

.table-container {
  margin-top: 50px;
}

.buttons-container {
  display: flex;
  justify-content: space-around;
}
